<%# Create new post %>
<h1>New post</h1>

<%= form_with model: @post, url: user_posts_path(current_user, @post) do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <%# Display message errors %>
    <% @post.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
    <%# Display message errors %>
    <% @post.errors.full_messages_for(:body).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
